{% load static %}

<div class="grid">
    {% for square in card.to_list %}
        <div class="griditem">
            {% if square.0 %}
                <div class="gridcontent big">
                    <img src="{% static square.0.image %}"/>
                </div>
            {% else %}
                <p class="freespace">Free Space</p>
            {% endif %}

            {% if square.1 %}
                <div class="gridcontent small">
                    <img src="{% static square.1.image %}"/>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>