{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/bingo.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

<script>
    {% block on_ready %}
        $('#bingo_updater').hide();
        initClicks();

        $('#current_card').change(function () {
            $.ajax({
                url: '{% url 'reload-bingo' %}',
                data: { 'bingo_card': $(this).val() },
                success: (function (data) {
                    $('#bingo_square').html(data);
                    $('#bingo_updater').hide();
                    initClicks();
                })
            });
        });

        function initClicks() {
            {% for square in card.to_list %}
                {% with id=forloop.counter0 %}
                    $('#{{ id }}').click(function () {
                        localStorage.setItem('current_square', {{ id }});
                        $('#bingo_updater').show();
                        $('#square_label').text('{{ square.0 }}{% if square.1 %} - {{ square.1 }}{% endif %}');
                        $('#square_proof').val('{% if square.2 %}{{ square.2 }}{% endif %}');
                    });
                {% endwith %}
            {% endfor %}
        }

{#        function loadSquare(card, id) {#}
{#            $.ajax({#}
{#                url: '{% url 'get-bingo-square' %}',#}
{#                data: {#}
{#                    'bingo_card': card.id,#}
{#                    'square_id': id#}
{#                },#}
{#                type: 'json',#}
{#                success: (function(data) {#}
{#                    alert(data.toString())#}
{#                    // todo#}
{#                })#}
{#            })#}
{#        }#}
    {% endblock %}
</script>

{% block content %}
    <div class="competition">
        <h2>{{ competition.title }}</h2>
        {% if user == competition.user %}
            <a href="{% url 'new-bingo-card' competition.id %}">Add a New Game Card</a>
            <br><br>
        {% endif %}

        {% if card %}
            <select id="current_card">
                {% for card in competition.game_cards.all %}
                    <option value="{{ card.id }}">{{ card.user_name }}</option>
                {% endfor %}
            </select>
            <br><br>
            <div id="bingo_square">
                {% include 'bingo_card.html' %}
            </div>
        {% endif %}
    </div>
{% endblock %}