{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static '../../bingo/static/javascript/leader_board.js' %}"></script>
{% endblock %}

<script>
    {% block on_ready %}
        const gameType = $('#id_game_type');
        const bingoForm = $('#bingoform');
        const leaderBoardForm = $('#leaderboardform');

        gameType.change(function() {
            var selected = $(this).val();

            if (selected === 'BINGO') {
                bingoForm.show();
                leaderBoardForm.hide();
            } else if (selected === 'LEADERBOARD') {
                bingoForm.hide();
                leaderBoardForm.show();
            }
        });

        gameType.change();
    {% endblock %}
</script>

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="formfield">{{ competition_form.as_p }}</div>

        <div id="bingoform">{% include 'forms/bingo_form.html' %}</div>
        <div id="leaderboardform">{% include 'forms/leader_board_form.html' %}</div>

        <button type="submit">Start New Competition</button>
    </form>
{% endblock %}