.bingocontainer {
    display: inline-flex;
}

.bingoupdate {
    margin-left: 16px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(5, 100px);
}

.griditem {
    border: 1px solid #EEEDEE;
    position: relative;
    display: flex;
}

.filledsquare {
    background: darkred;
}

.griditem .freespace {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.gridcontent {
    height: 100px;
    width: 100px;
    display: flex;
}

.big {
    justify-content: center;
    align-items: center;
}

.small {
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
}

.big img {
    max-height: 92px;
    max-width: 92px;
    padding: 4px;
    position: absolute;
}

.small img {
    max-height: 46px;
    max-width: 46px;
    z-index: 5;
    padding: 4px;
    position: absolute;
}