{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <a href="{% url 'new-competition' %}">Create a new competition</a>
    <br><br>
    {# todo other competition types #}

    {% if your_competitions %}
        <h2>Your Competitions</h2>
        {% for competition in your_competitions %}
            <a href="{% url 'bingo-competition' competition.id %}" class="competitionlist">
                <img src="{% static 'images/bingo.png' %}"/>
                {{ competition.title }}
            </a>
        {% endfor %}
    {% endif %}

    {% if all_competitions %}
        {% if your_competitions %}<h2>Other Competitions</h2>{% else %}<h2>Competitions</h2>{% endif %}
        {% for competition in all_competitions %}
            <a href="{% url 'bingo-competition' competition.id %}" class="competitionlist">
                <img src="{% static 'images/bingo.png' %}"/>
                {{ competition.title }}
            </a>
        {% endfor %}
    {% endif %}

{% endblock %}