{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="formfield">
        <label for="{{ form.username.id_for_label }}">Email: </label> {{ form.username }}
        {{ form.username.errors }}
    </div>
    <div class="formfield">
        <label for="{{ form.password.id_for_label }}">Password: </label> {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Login</button>
  </form>
{% endblock %}