{{ leader_board_form.non_field_errors }}
<div class="formcolumns">
    <div class="formcolumn">
        <div>{{ leader_board_form.kalphite_queen }}<label for="id_kalphite_queen">Kalphite Queen</label></div>
        <div>{{ leader_board_form.king_black_dragon }}<label for="id_king_black_dragon">King Black Dragon</label></div>
        <div>{{ leader_board_form.sarachnis }}<label for="id_sarachnis">Sarachnis</label></div>
        <div>{{ leader_board_form.vorkath }}<label for="id_vorkath">Vorkath</label></div>
        <div>{{ leader_board_form.zulrah }}<label for="id_zulrah">Zulrah</label></div>
        <div>{{ leader_board_form.corporeal_beast }}<label for="id_corporeal_beast">Corporeal Beast</label></div>
    </div>
    <div class="formcolumn">
        <div><input type="checkbox" name="god_wars_dungeon_bosses" id="god_wars_dungeon_bosses"><label for="god_wars_dungeon_bosses">God Wars Dungeon Bosses</label></div>
        <br>
        <div>{{ leader_board_form.zilyana }}<label for="id_zilyana">Zilyana</label></div>
        <div>{{ leader_board_form.graardor }}<label for="id_graardor">Graardor</label></div>
        <div>{{ leader_board_form.kree_arra }}<label for="id_kree_arra">Kree'Arra</label></div>
        <div>{{ leader_board_form.kril_tsutsaroth }}<label for="id_kril_tsutsaroth">K'ril Tsutsaroth</label></div>
    </div>
    <div class="formcolumn">
        <div><input type="checkbox" name="dagannoth_kings" id="dagannoth_kings"><label for="dagannoth_kings">Dagannoth Kings</label></div>
        <br>
        <div>{{ leader_board_form.prime }}<label for="id_prime">Dagannoth Prime</label></div>
        <div>{{ leader_board_form.rex }}<label for="id_rex">Dagannoth Rex</label></div>
        <div>{{ leader_board_form.supreme }}<label for="id_supreme">Dagannoth Supreme</label></div>
    </div>
    <div class="formcolumn">
        <div><input type="checkbox" name="wilderness_bosses" id="wilderness_bosses"><label for="wilderness_bosses">Wilderness Bosses</label></div>
        <br>
        <div>{{ leader_board_form.callisto }}<label for="id_callisto">Callisto</label></div>
        <div>{{ leader_board_form.chaos_elemental }}<label for="id_chaos_elemental">Chaos Elemental</label></div>
        <div>{{ leader_board_form.scorpia }}<label for="id_scorpia">Scorpia</label></div>
        <div>{{ leader_board_form.venenatis }}<label for="id_venenatis">Venenatis</label></div>
        <div>{{ leader_board_form.vetion }}<label for="id_vetion">Vet'ion</label></div>
    </div>
    <div class="formcolumn">
        <div><input type="checkbox" name="slayer_bosses" id="slayer_bosses"><label for="slayer_bosses">Slayer Bosses</label></div>
        <br>
        <div>{{ leader_board_form.alchemical_hydra }}<label for="id_alchemical_hydra">Alchemical Hydra</label></div>
        <div>{{ leader_board_form.abyssal_sire }}<label for="id_abyssal_sire">Abyssal Sire</label></div>
        <div>{{ leader_board_form.cerberus }}<label for="id_cerberus">Cerberus</label></div>
        <div>{{ leader_board_form.grotesque_guardians }}<label for="id_grotesque_guardians">Grotesque Guardians</label></div>
        <div>{{ leader_board_form.kraken }}<label for="id_kraken">Kraken</label></div>
        <div>{{ leader_board_form.thermonuclear_smoke_devil }}<label for="id_thermonuclear_smoke_devil">Thermonuclear Smoke Devil</label>
        </div>
    </div>
</div>