/* https://www.color-hex.com/color-palette/70094 */

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: small;
    color: #eeedee;
    background-color: #38333D;
}

a:link, a:visited, a:hover, a:active {
    color: #eeedee;
}

button {
    padding: 4px 4px 4px 4px;
}

.titlebar {
    background-color: #222123;
}

.title {
    font-family: 'Charm', cursive;
    font-weight: 100;
    font-size: 32px;
    padding: 8px 8px 8px 16px;
}

.login {
    padding: 0 8px 16px 16px;
}

.content {
    margin: 16px 16px 16px 16px;
}

.formfield {
    margin: 8px 8px 8px 8px;
}