/* https://www.color-hex.com/color-palette/70094 */

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: small;
    color: #EEEDEE;
    background-color: #38333D;
}

a:link, a:visited, a:hover, a:active {
    color: #EEEDEE;
}

button {
    padding: 4px 4px 4px 4px;
}

.titlebar {
    background-color: #222123;
}

.title {
    font-family: 'Charm', cursive;
    font-weight: 100;
    font-size: 32px;
    padding: 8px 8px 8px 16px;
}

.login {
    padding: 0 8px 16px 16px;
}

.content {
    margin: 16px 16px 16px 16px;
}

.formfield {
    margin: 8px 8px 8px 8px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(5, 100px);
}

.griditem {
    border: 1px solid #EEEDEE;
    position: relative;
    display: flex;
}

.gridcontent {
    height: 100px;
    width: 100px;
    display: flex;
}

.big {
    justify-content: center;
    align-items: center;
}

.small {
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
}

.big img {
    max-height: 92px;
    max-width: 92px;
    padding: 4px;
    position: absolute;
}

.small img {
    max-height: 46px;
    max-width: 46px;
    z-index: 5;
    padding: 4px;
    position: absolute;
}