{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <title>PvM Games</title>
    {% block include %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% block on_ready %}{% endblock %}

            const error = $('#error');

            function showError(message) {
                error.text(message)
            }
        });
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    <h1 class="titlebar title">
        <a href="{% url 'home' %}">PvM Games</a>
        <sup class="alpha">alpha
            <span class="tooltip">PvM Games is currently in alpha. Data or accounts may be lost at anytime.</span>
        </sup>
    </h1>

    <div class="titlebar login">
    {% if user.is_authenticated %}
        Welcome, {{ user.first_name }} | <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'signup' %}">Sign up</a> | <a href="{% url 'login' %}">Login</a>
    {% endif %}
    </div>

    <div class="content">
        <div class="error" id="error"></div>
        {%  block content %}{% endblock %}
    </div>
</body>

</html>